:root {
  --first-text-color: #212121;
  --second-text-color: #ffffff;
  --text-p-color: #757575;
  --accent-color: #2196f3;
  --button-color: #f5f4fa;
}
/*header******/

body {
  font-family: Roboto, sans-serif;
  max-width: 1600px;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
.header-logo {
  color: var(--accent-color);
}

.link-logo {
  font-family: Raleway;
  margin-right: 93px;
  font-style: normal;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.logo-studio {
  color: var(--first-text-color);
}
.list {
  list-style: none;
  margin: 0;
}
.nav-header {
  display: flex;
}

.header-link .link {
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.link {
  display: list-item;
}

.header-link {
  display: flex;
  align-items: center;
}
.container-main {
  display: flex;
  align-items: center;
  max-width: 1600px;
  padding-left: 15px;
  padding-right: 15px;
}

.header-link .link:hover,
.header-link .link:focus {
  color: var(--accent-color);
}
.header-info {
  display: flex;
  margin-left: auto;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding: 0;
}

.header-tell {
  font-weight: 500;
  font-size: 14px;
  margin-right: 50px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-p-color);
}
.header-tell:hover,
.header-tell:focus {
  color: var(--accent-color);
}

/***Кнопки*/
.container-portfolio {
  max-width: 1170px;
  margin: 0 auto;
}
.portfolio-title {
  display: none;
}
.portfolio-list {
  display: flex;
}
.button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  background: #f5f4fa;
  color: var(--first-text-color);
  border: none;
}

/*Картинки*/
.img-list {
  display: flex;
}
.list-style {
  text-decoration: none;
}
.list-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--text-p-color);
}
.list-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
}
.text {
  color: var(--text-p-color);
}

/*Футер**********/
.footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
  background: #2f303a;
}
.footer-logo {
  text-decoration: none;
}
.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.footer-studio {
  color: var(--second-text-color);
}
.footer-list {
  font-family: Roboto;
  font-style: normal;
}
.footer-adress {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  text-decoration: none;
}
.footer-nav {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
